# Ignore system/environment config files
.env

# Ignore writable directory
/writable/*

# Ignore log files and other temporary files
/logs/*
/cache/*
/debugbar/*

# Ignore generated vendor files
/vendor/*

# Ignore Composer dependencies
composer.lock

# Ignore IDE and OS specific files
/.idea
*.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.~*

# Ignore CodeIgniter cache and logs (if not using writable folder structure)
/application/cache/*
/application/logs/*

# Ignore this .gitignore file
.gitignore
DexCorp/
